<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Aplicación que permite gestionar un listado de usuarios</p>
    <a href="/users/register" class="btn btn-dark btn-lg">Registrar Usuario</a>
</div>
